---
layout: layouts/base.liquid
css: /css/post.css
---

{% assign date = published %}

{% unless isPage %}
{% unless date %}
  <aside class="banner outline callout"><p class="title">Draft Content</p>
  <p>
    The content on this page is a draft. It's not yet ready to be shared, so please don't.
  </p>
  <p>
    If you have any feedback, please let me know through one of the channels listed on my <a href="/contact">contact page</a>.</a>
  </p>
  </aside>
{% endunless %}
{% endunless %}

<article class="wrapper">
  {% if title %}
    <section class="twocol glitch-wrapper">
      {% unless isPage == true %}
        {% assign isNote = tags | find: "note" %}
        <small data-glitch="{%- if isNote == "note" -%}note{%- else -%}post{%- endif -%}">
          {%- if isNote == "note" -%}Note{%- else -%}Post{%- endif -%}
        </small>
      {% endunless %}
      <h1 data-glitch="{{ title }}">
        <span>{{ title }}</span>
      </h1>
      {% if date %}
        <p data-glitch="Published {{ date | date_to_long_string }}">Published:
          <time class="postlist-date" datetime="{{ date | date_to_rfc822 }}">{{ date | date_to_long_string }}</time>
        </p>
      {% endif %}

      {% capture tableOfContent %}
        {{ content | toc  }}
      {% endcapture %}
      {% if tableOfContent %}
        <details class="table-of-contents">
          <summary>Table of Contents</summary>
          {{ content | toc }}
        </details>
      {% endif %}
    </section>
  {% endif %}

  <section class="twocol flow">
    {{ content }}
  </section>

  {% unless isPage == true %}
    <section>
      <aside class="banner outline callout">
        <p class="title">RSS</p>
        <p>Get more content like this by RSS.</p>

        {% if isNote == "note" %}
          <p>
            <a href="/feed-notes.xml">Subscribe to Notes RSS feed</a>
          </p>
        {% else %}
          <p>
            <a href="/feed-posts.xml">Subscribe to Posts RSS feed</a>
          </p>
        {% endif %}
      </aside>
    </section>
  {% endunless %}
</article>