---
layout: layouts/base.liquid
css: post.css
---

{% assign date = published %}
<article class="wrapper">
  {% if title %}
    <section class="twocol glitch-wrapper">
      {% unless isPage %}
        {% assign isNote = tags | find: "note" %}
        <small data-glitch="{%- if isNote == "note" -%}note{%- else -%}post{%- endif -%}">
          {%- if isNote == "note" -%}Note{%- else -%}Post{%- endif -%}
        </small>
      {% endunless %}
      <h1 data-glitch="{{ title }}">{{ title }}</h1>
      {% if date %}
        <p data-glitch="Published {{ date | date_to_long_string }}">Published:
          <time class="postlist-date" datetime="{{ date | date_to_rfc822 }}">{{ date | date_to_long_string }}</time>
        </p>
      {% endif %}

      {% capture tableOfContent %}
        {{ content | toc  }}
      {% endcapture %}
      {% if tableOfContent %}
        <details class="table-of-contents">
          <summary>Table of Contents</summary>
          {{ content | toc }}
        </details>
      {% endif %}
    </section>
  {% endif %}

  <section class="twocol flow">
    {{ content }}
  </section>
</article>