---
layout: layouts/base.liquid
css: /css/post.css
---

{% assign date = published %}

{% unless isPage %}
{% unless date %}
  <aside class="banner outline callout"><p class="title">Draft Content</p>
  <p>
    The content on this page is a draft. It's not yet ready to be shared, so please don't.
  </p>
  <p>
    {% editLink page %} or <a href="/contact">contact me</a>.
  </p>
  </aside>
{% endunless %}
{% endunless %}

<article class="wrapper h-entry">
  {% if title %}
    <section class="twocol glitch-wrapper">
      {% unless isPage == true %}
        {% assign isNote = tags | find: "note" %}
        <small data-glitch="{%- if isNote == "note" -%}note{%- else -%}post{%- endif -%}">
          {%- if isNote == "note" -%}Note{%- else -%}Post{%- endif -%}
        </small>
      {% endunless %}
      <h1 data-glitch="{{ title }}">
        <span class="p-name">{{ title }}</span>
      </h1>
      {% if date %}
        <p data-glitch="Published {{ date | date_to_long_string }}">Published:
          <time class="postlist-date dt-published" datetime="{{ date | date_to_rfc822 }}">{{ date | date_to_long_string }}</time>
        </p>
      {% endif %}

      {% assign mentions = webmentions.mentions | webmentionsByUrl: page.url %}
      {% if  mentions.mentionCount > 0 %}
        {% include 'partials/webmentions.liquid' %}
      {% endif %}

      {% capture tableOfContent %}
        {{ content | toc  }}
      {% endcapture %}
      {% if tableOfContent %}
        <details class="table-of-contents">
          <summary>Table of Contents</summary>
          {{ content | toc }}
        </details>
      {% endif %}
    </section>
  {% endif %}

  <section class="twocol flow e-content">
    {{ content }}

    {% if mentions.comments.size > 0 %}
    <h2>Comments</h2>
    <div class="comments">
      {% for item in mentions.comments %}
        <div class="comment">
          <a href="{{ item.author.url }}" class="comment-author"><img src="{{ item.author.photo}}" class="mention-image" alt="photo of the author of one of the webmentions for this page" onerror="this.onerror=null;this.src='/img/dot.svg'" eleventy:ignore></a>
          <div class="comment-content">
          <blockquote class="">
              <p>{{ item.content }}</p>
              <cite><a href="{{ item.url }}" class="comment-author">{{ item.author.name }} - {{ item.published | date_to_long_string }}</a></cite>
          <p class="comment-date"></p>
          </blockquote>
          </div>
        </div>
      {% endfor %}
    </div>
    <script>
    document.querySelectorAll('.comment img').forEach(img => {
     img.setAttribute('style', '--glitch-img-src: url(' + img.src + ')');
    });
    </script>
    {% endif %}
  </section>

  {% unless isPage == true %}
    <section>
      <aside class="banner outline callout">
        <p class="title">RSS</p>
        <p>Get more content like this by RSS. <a href="/feed.xml">Subscribe to the RSS feed</a></p>
      </aside>
    </section>
  {% endunless %}
</article>
