---
title: Writing
layout: layouts/list.liquid
css: listPage.css
eleventyExcludeFromCollections: true
---
<section class="twocol">
  <h1>Writing</h1>
  <p>My most recent writing on sustainable web development, performance tips for websites and apps, as well as a few other musings.</p>
</section>

<section class="twocol">
  {% assign postslist = collections.post | sortByPublishedDate %}
  <ul>
    {% for post in postslist %}
      <li
        {% if post.data.archived %}
        class="archived"
        {% endif %}>
        <p class="title">
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </p>
        <small>
          <time class="postlist-date" datetime="{{ post.data.published | date_to_rfc822 }}">{{ post.data.published | date_to_long_string }}</time>
          {% if post.data.archived %}
            |
            <b>
              Archived
            </b>
          {% endif %}
        </small>
        {% unless post.data.archived %}
          <p>{{ post.data.summary }}</p>
        {% else %}
          <p>{{ post.data.archiveNote }}</p>
        {% endunless %}
      </li>
    {% endfor %}
  </ul>
</section>