---
title: Writing
layout: layouts/list.liquid
css: listPage.css
eleventyExcludeFromCollections: true
---
<section class="twocol">
  <h1>Writing</h1>
  <p>My most recent writing on sustainable web development, performance tips for websites and apps, as well as a few other musings.</p>
  <div>
    <p>This page has
      <span class="count-posts">{{ collections.post | filterOnlyTag: "post", "note" | size }} posts</span>
      and
      <span class="count-notes">{{ collections.post | filterOnlyTag: "note" | size }} notes</span>.</p>
  </div>
</section>


<section class="threecol">
  {% assign postslist = collections.post | sortByPublishedDate %}
  <ul>
    {% for post in postslist %}
      {% assign tags = post.data.tags %}
      {% assign isNote = tags | find: "note" %}
      <li class="
      {%- if post.data.archived -%}
        archived
      {%- endif -%}
      {%- if isNote == "note" -%}
        note
      {%- endif -%}
        ">
        <div>
          <small class="post-type">
            {% if isNote == "note" %}
              Note
            {% else %}
              Post
            {% endif %}
          </small>
        </div>
        <p class="title">
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </p>
        <small>
          <time class="postlist-date" datetime="{{ post.data.published | date_to_rfc822 }}">{{ post.data.published | date_to_long_string }}</time>
          {% if post.data.archived %}
            |
            <strong>
              Archived
            </strong>
          {% endif %}
        </small>
        {% unless post.data.archived %}
          {% if post.data.summary %}
            <p>{{ post.data.summary }}</p>
          {% endif %}
        {% else %}
          <p>
            This post is archived.
            {{ post.data.archiveNote }}</p>
        {% endunless %}
      </li>
    {% endfor %}
  </ul>
</section>