---
layout: layouts/base.liquid
title: Home
description: "Hey, I'm Fershad. I am a digital sustainability consultant working with the Green Web Foundation towards
a fossil free internet by 2030."
css: home.css
---

<div class="wrapper flow" id="homepage">
  <section id="intro" class="twocol">
    <img
      src="../public/img/profile.jpg"
      alt="A handsome, bald man with coffee coloured skin sitting at a table smiling."
      loading="eager"
      decoding="async"
      eleventy:widths="240, 480, 320, 640"
      sizes="100w" />
    <div class="flow">
      <div class="glitch-wrapper">
        <h1 data-glitch="Hey, I'm Fershad">Hey, I'm Fershad</h1>
        <p class="no-glitch subtag">
          Hey, I'm Fershad. I am a digital sustainability consultant working with the Green Web Foundation towards                                                      
            a fossil free internet by 2030.
        </p>
      </div>
      <div class="banner outline">
        <small class="no-glitch">
          <span class="heading">Status:</span>
          {{ currently.status }}
          {% if currently.key == "vacation" %}
            Peace ✌️.
          {% else %}
            {{ currently.blurb }}
          {% endif %}
        </small>
      </div>
    </div>
  </section>

  <section id="projects" class="threecol">
    <div class="lead-box flow">
      <div>
        <h2>Projects</h2>
        <p>A few of the best projects I've worked on.</p>
      </div>
      <div>
        <a href="/projects" data-glitch="More Projects >">
          More projects >
        </a>
      </div>
    </div>
    <ul>
      {% for project in currently.projects %}
        <li style="--local-delay: {% random %}ms; --local-direction: {% direction %};">
          <p>
            <a href="{{ project.url }}">{{ project.title }}</a>
            - {{ project.shortContent }}</p>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="writing" class="threecol">
    {% assign postslist = collections.post | sortByPublishedDate | slice: 0, 5 %}
    <div class="lead-box flow">
      <div>
        <h2>Writing</h2>
        <p>Notes and ideas mostly related to digital sustainability, occasionally other topics.</p>
      </div>
      {% if postslist.size > 0 %}
        <div>
          <a href="/writing" data-glitch="More Writing > ">More writing ></a>
        </div>
      {% endif %}
    </div>
    <ul>
      {% for post in postslist %}
        <li style="--local-delay: {% random %}ms; --local-direction: {% direction %};">
          <a href="{{ post.url }}">{{ post.data.title }}</a>
          <div>
            <small>{{ post.date | date: "%Y-%m-%d" }}</small>
          </div>
        </li>
      {% else %}
        <li>
          <p>There are no posts.</p>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section id="reading" class="threecol">
    <div class="lead-box flow">
      <div>
        <h2>Reading</h2>
        <p>Here's a list of articles I've recently read.</p>
      </div>
      <div gaw:remove>
        <small class="last-updated">
          <span id="update-time">Last updated: <br/>{{ readwise.updated | date_to_rfc822 }}</span>
          <div>
            <button class="button outline" id="refresh-reader">Refresh</button>
          </div>
        </small>
      </div>
      <div>
        <a href="/reading" data-glitch="More Reading >">More reading ></a>
      </div>
    </div>
    <ul>
      {% for article in readwise.reader %}
        <li style="--local-delay: {% random %}ms; --local-direction: {% direction %};">
          <a href="{{ article.source_url }}">{{ article.title }}</a>
          <div>
            <small>{{ article.site_name }}</small>
          </div>
        </li>
      {% else %}
        <li>
          <p>There are no articles.</p>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="film" class="threecol">
    <div class="lead-box flow">
      <span>
        <h2>Film</h2>
        <small>I do a bit of film photography while I'm out and about.</small>
      </span>
      <div gaw:remove>
        <a
          href="https://film.fershad.com/random"
          id="rando"
          data-glitch="Get Random Image >">Get random image ></a>
      </div>
      <div>
        <a data-glitch="See more @ film.fershad.com" href="https://film.fershad.com">See more @ film.fershad.com</a>
      </div>
    </div>
    <div class="img-holder">
      <img src="{{ film.imageUrl }}" alt="{{ film.altText }}" />
      <div class="img-desc">
        <span>
          <h3 class="heading-underlined">{{ film.title }}</h3>
          <small>{{ film.collection }} | {{ film.shortDate | date: "%Y-%m" }}</small>
        </span>
        <p>{{ film.description | url_decode }}</p>

      </div>
    </div>
  </section>
</div>

<script gaw:remove>
  document.getElementById('rando').addEventListener('click', function(e) {
    e.preventDefault();
    fetch('/api/rando')
      .then(response => response.json())
      .then(data => {
        document.querySelector('.img-holder img').src = data.imageUrl;
        document.querySelector('.img-desc h3').textContent = data.title;
        document.querySelector('.img-desc small').textContent = data.collection + ' | ' + data.shortDate;
        document.querySelector('.img-desc p').textContent = data.description;
        document.querySelector('.img-holder > picture > source').remove();
      });
  });

  document.getElementById('refresh-reader').addEventListener('click', function(e){
    e.preventDefault();
    fetch('/api/readwise/shortlist')
      .then(response => response.json())
      .then(data => {
        document.querySelector('#reading ul').innerHTML = '';
        data.reader.forEach(article => {
          const li = document.createElement('li');
          li.innerHTML = `
            <a href="${article.source_url}">${article.title}</a>
            <div>
              <small>${article.site_name}</small>
            </div>
          `;
          document.querySelector('#reading ul').appendChild(li);
        });
        document.querySelector('#reading #update-time').textContent = 'Last updated: ' + data.updated;
        document.querySelector('#refresh-reader').remove();
      });
  })

  const introImg = document.querySelector('#intro img');
  const picture = document.querySelector('#intro picture');
  picture.setAttribute('style', '--glitch-img-src: url(' + introImg.src + ')');

  const filmImg = document.querySelector('#film img');
  const filmPicture = document.querySelector('#film picture');
  filmPicture.setAttribute('style', '--glitch-img-src: url(' + filmImg.src + ')');
</script>