---
layout: layouts/base.liquid
title: Home
description: "Hey, I'm Fershad. I am a digital sustainability consultant working with the Green Web Foundation towards
a fossil free internet by 2030."
css: home.css
---

<div class="wrapper" id="homepage">
  <section id="intro" class="twocol">
    <img
      src="../public/img/profile.jpg"
      alt="A handsome, bald man with coffee coloured skin sitting at a table smiling."
      loading="eager"
      decoding="async"
      eleventy:widths="240, 480, 320, 640"
      sizes="100w" />
    <div>
      <h1>Hey, I'm Fershad.</h1>
      <p class="subtag">
        Hey, I'm Fershad. I am a digital sustainability consultant working with the Green Web Foundation towards                                                                               
          a fossil free internet by 2030.
      </p>
    </div>
  </section>

  <section id="current" class="onecol">
    <div>
      <h2 class="heading-underline">Currently</h2>
      <p>
        <span class="heading">Status:</span>
        <br/>
        {{ currently.status }}
        {% if currently.key == "vacation" %}
          Peace ✌️.
        {% else %}
          {{ currently.blurb }}
        {% endif %}
      </p>
    </div>
  </section>

  <section id="projects" class="threecol">
    <div class="lead-box">
      <h2>Projects</h2>
      <small>A couple of the highlight projects that I'm working on at the moment.</small>
    </div>
    {% for project in currently.projects %}
      <div class="project">
        <h3>
          <a href="{{ project.url }}">{{ project.title }}</a>
        </h3>
        <p>{{ project.shortContent }}</p>
      </div>
    {% endfor %}
    <a href="/projects" class="banner">
      More projects
    </a>
  </section>

  <section id="film" class="threecol">
    <div class="lead-box clear">
      <span>
        <h2>Film</h2>
        <small>I do a bit of film photography while I'm out and about.</small>
      </span>
    </div>
    <div class="img-holder">
      <img src="{{ film.imageUrl }}" alt="{{ film.altText }}" />
      <div class="img-desc">
        <span>
          <h3 class="heading-underlined">{{ film.title }}</h3>
          <small>{{ film.collection }} | {{ film.shortDate | date: "%Y-%m" }}</small>
        </span>
        <p>{{ film.description }}</p>
        <a href="#" class="banner outline">Fetch random image</a>
        <a class="banner" href="https://film.fershad.com">See more @ film.fershad.com</a>
      </div>
    </div>
  </section>

  <section id="other" class="threecol">
    <div>
      <h2>Writing</h2>
      <p>I capture notes, ideas, and insights (depends who you ask tbh) in my blog.</p>
    </div>
    <div>
      <h2>Projects</h2>
      <p>I build and maitain projects to help web folks build a greener internet.</p>
    </div>
    <div>
      <h2>Film</h2>
      <p>I do a bit of film photography while I'm out and about.</p>
    </div>
  </section>
</div>