---
layout: layouts/base.liquid
title: Home
description: "Hey, I'm Fershad. I am a digital sustainability consultant working with the Green Web Foundation towards a fossil free internet by 2030."
css:
- /css/home.css
- /css/listPage.css
---

<div class="wrapper flow" id="homepage">
  <section id="intro" class="twocol">
    <img
      src="../public/img/profile_2.jpg"
      alt="Black and white image of a man in a bucket hat and large glasses, his head slightly tilted up with a skeptical look on his face. He appears casual, with sunglasses hanging on the shirt around his neck."
      loading="eager"
      decoding="async"
      eleventy:widths="240,480,320,640"
      eleventy:formats="avif,webp,jpg"
      sizes="100w" />
    <div class="flow">
      <div>
        <h1>Hey, I'm Fershad</h1>
        <p>
          A digital sustainability consultant based in 🇹🇼 Taipei, Taiwan. I work with the Green Web Foundation towards
            a fossil free internet by 2030.
        </p>
      </div>
    </div>
  </section>

  <section id="yearly-content">
  {% assign currentYear = years.currentYear %}
  {% assign currentYearPosts = collections.post | sortByPublishedDate | filterOnlyTag: "post", "note"| currentYearWriting: currentYear %}
  {% assign currentYearNotes = collections.post | sortByPublishedDate | filterOnlyTag: "note"| currentYearWriting: currentYear %}
  {% assign currentYearProjects = projects | currentYearProjects: currentYear %}
  {% assign currentYearTalks = talks | currentYearTalks: currentYear %}
  {% assign currentYearImages = film | currentYearImages: currentYear %}

  {% assign sectionId = 'posts' %}
  {% assign sectionTitle = 'Posts' %}
  {% assign sectionIntro = 'Ideas, thoughts, and opinions mostly related to digital sustainability and occassionally other topics.' %}
  {% assign sectionExtra = '' %}

                {% capture sectionExtra %}
                <div>
                {% assign monthlyCount = currentYearPosts | groupWritingByMonth %}
                <div>
                {% for month in monthlyCount %}
                <small><a href="#post-{{ month | first }}">{{ month | first }}</a> ({{ month | last | size }})</small>
                {% endfor %}
                </div>
                <small>Total posts: {{ currentYearPosts | size }}</small>
                </div>
                {% endcapture %}
                {% capture sectionContent %}
      <ul>
        {% assign postslist = currentYearPosts %}
        {% include 'partials/writingList.liquid' %}
      </ul>
      {% endcapture %}
      {% include 'partials/yearlySection.liquid' %}


{% include 'partials/filmstrip.liquid', filmSection: 1 %}

                {% assign sectionId = 'notes' %}
                {% assign sectionTitle = 'Notes' %}
                {% assign sectionIntro = 'Short(ish) thoughts and reflections on a variety of topics.' %}
                {% assign sectionExtra = '' %}
                {% capture sectionExtra %}
                <div>
                    {% assign monthlyCount = currentYearNotes | groupWritingByMonth %}
                    <div>
                    {% for month in monthlyCount %}
                      <small><a href="#note-{{ month | first }}">{{ month | first }}</a> ({{ month | last | size }})</small>
                    {% endfor %}
                    </div>
                <small>Total notes: {{ currentYearNotes | size }}</small>
                </div>
                {% endcapture %}
              {% capture sectionContent %}
      <ul>
          {% assign postslist = currentYearNotes %}
        {% include 'partials/writingList.liquid' %}
      </ul>
      {% endcapture %}

      {% include 'partials/yearlySection.liquid' %}

      {% include 'partials/filmstrip.liquid', filmSection: 2 %}

      {% assign sectionId = "projects" %}
      {% assign sectionTitle = "Active projects" %}
      {% assign sectionIntro = "Projects that I've worked on at one time or another through the year." %}
      {% assign sectionExtra = '' %}
      {% capture sectionContent %}
              <ul class="no-marker">
                {% for project in currentYearProjects %}
                  <li
                    class="project {% if project.archived %}archived{% endif %}"
                    {% if project.slug %}
                    id="{{project.slug}}"
                    {% endif %}>
                    {% if project.archived %}
                      <div class="title">
                        <h2 class="title">{{ project.title }}</h2>
                        <small>
                          <strong>Archived</strong>
                        </small>
                      </div>
                    {% else %}
                      <h2 class="title">{{ project.title }}</h2>
                    {% endif %}
                    <p class="summary">{{ project.shortContent }}</p>
                    <div class="links">
                      {% for link in project.links %}
                        <a href="{{ link.url }}" data-glitch="{{ link.text }} >">{{ link.text }} ></a>
                      {% endfor %}
                    </div>
                  </li>
                {% endfor %}
              </ul>
        {% endcapture %}
        {% include 'partials/yearlySection.liquid' %}

        {% include 'partials/filmstrip.liquid', filmSection: 3 %}

        {% if currentYearTalks.size > 0 %}
        {% assign sectionId = "talks" %}
        {% assign sectionTitle = "Talks" %}
        {% assign sectionIntro = "Presentations and talks mostly on the topic of digital sustainability." %}
        {% assign sectionExtra = '' %}
        {% capture sectionContent %}
        <ul class="no-marker">
          {% for item in currentYearTalks %}
            <li class="talk">
              <div class="title">
                <h3 class="title">{{ item.title }}</h3>
                <small>{{ item.date | date_to_string }} @ {{ item.event }}</small>
              </div>
              <p class="summary"></p>
              <div class="links">
                {% if item.slides %}
                  <a href="{{ item.slides }}" data-glitch="View slides >">View slides ></a>
                {% endif %}
                {% if item.video %}
                  <a href="{{ item.video }}" data-glitch="Watch online >">Watch online ></a>
                {% endif %}
                {% if item.episode %}
                  <a href="{{ item.episode }}" data-glitch="Listen online >">Listen online ></a>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
        {% endcapture %}
        {% include 'partials/yearlySection.liquid' %}
        {% endif %}



  </section>
</div>


<script data-gaw-remove>

  const decodeHTML = function (html) {
  	const txt = document.createElement('textarea');
  	txt.innerHTML = html;
  	return txt.value;
  };

  document.getElementById('rando').addEventListener('click', function(e) {
    e.preventDefault();

    const rando = document.getElementById('rando');
    rando.textContent = 'Fetching image ...';
    rando.setAttribute('disabled', 'disabled');

    fetch('/api/rando')
      .then(response => response.json())
      .then(data => {
        document.querySelector('.img-holder img').src = data.imageUrl;
        document.querySelector('.img-desc h3').textContent = decodeHTML(data.title);
        document.querySelector('.img-desc small').textContent = data.collection + ' | ' + data.shortDate;
        document.querySelector('.img-desc p').textContent = decodeHTML(data.description);
        const sources = document.querySelectorAll('.img-holder > picture > source');
        if (sources) {
          sources.forEach(source => source.remove());
        }

  let filmImg = document.querySelector('#film img');
  let filmPicture = document.querySelector('#film picture');
  filmPicture.setAttribute('style', '--glitch-img-src: url(' + filmImg.src + ')');
      });

    rando.textContent = 'Get random image >';
    rando.removeAttribute('disabled');

  });

  document.getElementById('refresh-reader').addEventListener('click', function(e){
    e.preventDefault();
    document.querySelector('#refresh-reader').textContent = 'Refreshing list...';
    fetch('/api/readwise/shortlist')
      .then(response => response.json())
      .then(data => {
        document.querySelector('#refresh-reader').textContent = 'Refresh complete';
        document.querySelector('#reading ul').innerHTML = '';
        data.reader.forEach(article => {
          const li = document.createElement('li');
          li.innerHTML = `
            <a href="${article.source_url}">${article.title}</a>
            <div>
              <small>${article.site_name}</small>
            </div>
          `;
          document.querySelector('#reading ul').appendChild(li);
        });
        document.querySelector('#reading #update-time').textContent = 'Last updated: ' + data.updated;
        document.querySelector('#refresh-reader').remove();
      });
  })

  const introImg = document.querySelector('#intro img');
  const picture = document.querySelector('#intro picture');
  picture.setAttribute('style', '--glitch-img-src: url(' + introImg.src + ')');

  let filmImg = document.querySelector('#film img');
  let filmPicture = document.querySelector('#film picture');
  filmPicture.setAttribute('style', '--glitch-img-src: url(' + filmImg.src + ')');
</script>
