---
layout: layouts/base.liquid
title: Home
description: "Hey, I'm Fershad. I am a digital sustainability consultant working with the Green Web Foundation towards
a fossil free internet by 2030."
css: home.css
---

<div class="wrapper" id="homepage">
  <section id="intro" class="twocol">
    <img
      src="../public/img/profile.jpg"
      alt="A handsome, bald man with coffee coloured skin sitting at a table smiling."
      loading="eager"
      decoding="async"
      eleventy:widths="240, 480, 320, 640"
      sizes="100w" />
    <div>
      <h1>Hey, I'm Fershad.</h1>
      <p class="subtag">
        Hey, I'm Fershad. I am a digital sustainability consultant working with the Green Web Foundation towards                                                                                                                         
          a fossil free internet by 2030.
      </p>
    </div>
  </section>

  <section id="current" class="onecol">
    <div>
      <h2 class="heading-underline">Currently</h2>
      <p>
        <span class="heading">Status:</span>
        <br/>
        {{ currently.status }}
        {% if currently.key == "vacation" %}
          Peace ✌️.
        {% else %}
          {{ currently.blurb }}
        {% endif %}
      </p>
    </div>
  </section>

  <section id="projects" class="threecol">
    <div class="lead-box">
      <h2>Projects</h2>
      <small>A couple of the highlight projects that I'm working on at the moment.</small>
    </div>
    {% for project in currently.projects %}
      <div class="project">
        <h3>
          <a href="{{ project.url }}">{{ project.title }}</a>
        </h3>
        <p>{{ project.shortContent }}</p>
      </div>
    {% endfor %}
    <a href="/projects" class="banner">
      More projects
    </a>
  </section>

  <section id="words" class="threecol">
    <div id="writing">
      <div>
        <h2>Writing</h2>
        <p>Notes and ideas mostly related to digital sustainability, occasionally other topics.</p>
      </div>
      <ul>
        {% assign postslist = collections.post | sortByPublishedDate | slice: 0, 5 %}
        {% for post in postslist %}
          <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            <div>
              <small>{{ post.date | date: "%Y-%m-%d" }}</small>
            </div>
          </li>
        {% else %}
          <li>
            <p>There are no posts.</p>
          </li>
        {% endfor %}
      </ul>
      {% if postslist.size > 0 %}
        <a href="/writing" class="banner">More writing</a>
      {% endif %}
    </div>
    <div id="reading">
      <div>
        <h2>Reading</h2>
        <p>Here's a list of articles I've recently read.</p>
      </div>
      <ul>
        {% for article in readwise.reader %}
          <li>
            <a href="{{ article.source_url }}">{{ article.title }}</a>
            <div>
              <small>{{ article.site_name }}</small>
            </div>
          </li>
        {% else %}
          <li>
            <p>There are no articles.</p>
          </li>
        {% endfor %}
      </ul>
      <div>
        <div>
          <small>
            <span id="update-time">Last updated: {{ readwise.updated | date_to_rfc822 }}</span>
            <a
              href="#"
              gaw:remove
              class="button outline"
              id="refresh-reader">Refresh</a>
          </small>
        </div>
        <div class="banner">
          <a href="/reading">More reading</a>
        </div>
      </div>
    </div>
  </section>

  <section id="film" class="threecol">
    <div class="lead-box clear">
      <span>
        <h2>Film</h2>
        <small>I do a bit of film photography while I'm out and about.</small>
      </span>
    </div>
    <div class="img-holder">
      <img src="{{ film.imageUrl }}" alt="{{ film.altText }}" />
      <div class="img-desc">
        <span>
          <h3 class="heading-underlined">{{ film.title }}</h3>
          <small>{{ film.collection }} | {{ film.shortDate | date: "%Y-%m" }}</small>
        </span>
        <p>{{ film.description }}</p>
        <a
          href="https://film.fershad.com/random"
          id="rando"
          class="banner outline">Random image</a>
        <a class="banner" href="https://film.fershad.com">More @ film.fershad.com</a>
      </div>
    </div>
  </section>
</div>

<script gaw:remove>
  document.getElementById('rando').addEventListener('click', function(e) {
    e.preventDefault();
    fetch('/api/rando')
      .then(response => response.json())
      .then(data => {
        document.querySelector('.img-holder img').src = data.imageUrl;
        document.querySelector('.img-desc h3').textContent = data.title;
        document.querySelector('.img-desc small').textContent = data.collection + ' | ' + data.shortDate;
        document.querySelector('.img-desc p').textContent = data.description;
        document.querySelector('.img-holder > picture > source').remove();
      });
  });

  document.getElementById('refresh-reader').addEventListener('click', function(e){
    e.preventDefault();
    fetch('/api/readwise')
      .then(response => response.json())
      .then(data => {
        document.querySelector('#reading ul').innerHTML = '';
        data.reader.forEach(article => {
          const li = document.createElement('li');
          li.innerHTML = `
            <a href="${article.source_url}">${article.title}</a>
            <div>
              <small>${article.site_name}</small>
            </div>
          `;
          document.querySelector('#reading ul').appendChild(li);
        });
        document.querySelector('#reading #update-time').textContent = 'Last updated: ' + data.updated;
      });
  })
</script>