---
title: Links and listens
layout: layouts/list.liquid
eleventyExcludeFromCollections: true
---
<section class="threecol flow">
  <div>
    <h1>Links and listens</h1>
    <p>A collection of links to interesting articles, posts, papers, stories, podcasts, or other random internet things.</p>
  </div>

  <aside class="banner outline callout">
    <p class="title">RSS</p>
    <p>Get the latest links by RSS. <a href="/feed-links.xml">Subscribe to the Links and listens RSS feed</a></p>
  </aside>
</section>

    <!-- TODO: There'll be a search box here & a tags cloud -->
<section class="threecol">
  {% assign postslist = collections.link | sortLinksByPageDate %}
  <ul>
    {% for post in postslist %}
      {% assign tags = post.data.tags %}
      {% assign isVideo = tags | has: "video" %}
      {%assign isAudio = tags | has: "audio" %}
      <li style="--local-delay: {% random %}ms; --local-direction: {% direction %};">
          <article class="post">
            <h2 class="title">
                {% if isVideo %}
                    <span>
                        🎬
                    </span>
                {%elsif isAudio %}
                    <span>
                        🎧
                    </span>
                {% endif %}
                <a href="{{ post.data.canonical }}">{{ post.data.title }}</a>
            </h2>
            <small>
              <time class="postlist-date" datetime="{{ post.date | date_to_rfc822 }}">{{ post.date | date_to_long_string }}</time>
            </small>
            <div>{{ post.rawInput | linkContent }}</div>
          </article>
      </li>
    {% endfor %}
  </ul>
</section>
