---
layout: layouts/list.liquid
title: Reading
description: A list of articles, books, and other resources I've read recently.
---
<section class="twocol">
  <h1>Reading</h1>
  <p>In the recent past, I've tried to be more regular with the amount of reading I get through. Things change fast in tech & sustainability, and whatever knowledge I might posses stands on the blogs of giants way more well informed than me.</p>
  <p>I use
    <a href="https://readwise.io" data-glitch="Readwise Reader">Readwise Reader</a>
    to save articles to read, make highlights, and take notes.</p>
</section>

<section class="twocol">
  <h2>Articles</h2>
  <p>Below is a list of the last 30 articles I've read.</p>
  <div data-gaw-remove>
    <small>
      <span id="update-time">Last updated: {{ readwise.updated | date_to_rfc822 }}</span>
      <button
        class="button outline"
        id="refresh-reader">Refresh</a>
    </button>
  </div>
</section>


<section class="threecol">
  <aside class="underline">
    <p>Controls</p>
    <label class="form-control" data-gaw-remove for="show-summaries">
      <input type="checkbox" id="show-summaries" />
      Show article summary
    </label>
  </aside>
  <ul id="reading-list">
    {% for article in readwise.list %}
      <li style="--local-delay: {% random %}ms; --local-direction: {% direction %};">
        <a href="{{ article.source_url }}">
          <p class="title">{{ article.title }}</p>
        </a>
          <small>{{ article.site_name }} | Read on: {{ article.last_opened_at | date_to_string }}</small>
        <p data-gaw-remove class="summary">{{ article.summary | limitWords }}</p>
      </li>
    {% else %}
      <li>
        <p>There are no articles.</p>
      </li>
    {% endfor %}
  </ul>
</section>

<script data-gaw-remove>
  const showSummaries = document.getElementById('show-summaries');
  const summaries = document.querySelectorAll('.summary');

  showSummaries.addEventListener('change', () => {
    summaries.forEach(summary => {
      summary.classList.toggle('active');
    });
  });

  document.getElementById('refresh-reader').addEventListener('click', function(e){
    e.preventDefault();
    fetch('/api/readwise/longlist')
      .then(response => response.json())
      .then(data => {
        console.log("New articles", data.reader.length);
        data.reader.forEach(article => {
          const li = document.createElement('li');
          li.innerHTML = `
            <a href="${article.source_url}">
              <p class="title">${article.title}</p>
            </a>
            <div>
              <small>${article.site_name} <br/> Read on: ${article.last_opened_at}</small>
            </div>
            <p data-gaw-remove class="summary">${article.summary}</p>
          `;
          li.classList.add('new');
          document.querySelector('#reading-list').prepend(li);
        });
        document.querySelector('#update-time').textContent = 'Last updated: ' + data.updated;
        document.querySelector('#refresh-reader').remove();
      });
  })
</script>