---
layout: layouts/list.liquid
title: Reading
description: A list of articles, books, and other resources I've read recently.
---
<section class="twocol">
  <h1>Reading</h1>
  <p>In the recent past, I've tried to be more regular with the amount of reading I get through. Things change fast in tech & sustainability, and whatever knowledge I might posses stands on the blogs of giants way more well informed than me.</p>
  <p>I use
    <a href="https://readwise.io">Readwise Reader</a>
    to save articles to read, make highlights, and take notes.</p>
</section>

<section class="twocol">
  <h2>Articles</h2>
  <p>Below is a list of the last 30 articles I've read.</p>
  <div gaw:remove>
    <small>
      <span id="update-time">Last updated: {{ readwise.updated | date_to_rfc822 }}</span>
      <button
        class="button outline"
        id="refresh-reader">Refresh</a>
    </button>
  </div>
</section>

<aside class="onecol">
  <label class="toggle" gaw:remove for="show-summaries">
    <input class="toggle__input" type="checkbox" id="show-summaries" />
  
    <span class="toggle__display" hidden>
    <svg aria-hidden="true" focusable="false" class="toggle__icon toggle__icon--checkmark" width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.08471 10.6237L2.29164 6.83059L1 8.11313L6.08471 13.1978L17 2.28255L15.7175 1L6.08471 10.6237Z" fill="currentcolor" stroke="currentcolor" />
    </svg>
    <svg aria-hidden="true" focusable="false" class="toggle__icon toggle__icon--cross" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.167 0L6.5 4.667L1.833 0L0 1.833L4.667 6.5L0 11.167L1.833 13L6.5 8.333L11.167 13L13 11.167L8.333 6.5L13 1.833L11.167 0Z" fill="currentcolor" />
    </svg>
  </span>
  
    Show article summary
  </label>
</aside>

<section class="threecol">

  <ul class="boxes" id="reading-list">
    {% for article in readwise.list %}
      <li>
        <a href="{{ article.source_url }}">
          <p class="title">{{ article.title }}</p>
        </a>
        <div>
          <small>{{ article.site_name }} <br/> Read on: {{ article.last_opened_at | date_to_string }}</small>
        </div>
        <p gaw:remove class="summary">{{ article.summary | limitWords }}</p>
      </li>
    {% else %}
      <li>
        <p>There are no articles.</p>
      </li>
    {% endfor %}
  </ul>
</section>

<script gaw:remove>
  const showSummaries = document.getElementById('show-summaries');
  const summaries = document.querySelectorAll('.summary');

  showSummaries.addEventListener('change', () => {
    summaries.forEach(summary => {
      summary.classList.toggle('active');
    });
  });

  document.getElementById('refresh-reader').addEventListener('click', function(e){
    e.preventDefault();
    fetch('/api/readwise/longlist')
      .then(response => response.json())
      .then(data => {
        document.querySelector('#reading-list').innerHTML = '';
        data.reader.forEach(article => {
          const li = document.createElement('li');
          li.innerHTML = `
            <a href="${article.source_url}">
              <p class="title">${article.title}</p>
            </a>
            <div>
              <small>${article.site_name} <br/> Read on: ${article.last_opened_at}</small>
            </div>
            <p gaw:remove class="summary">${article.summary}</p>
          `;
          document.querySelector('#reading-list').appendChild(li);
        });
        document.querySelector('#update-time').textContent = 'Last updated: ' + data.updated;
        document.querySelector('#refresh-reader').remove();
      });
  })
</script>