---
layout: layouts/list.liquid
title: Projects
description: A few of the projects I'm working on currently, or have released into the wild.
---
<div class="wrapper">
  <section class="twocol">
    <h1>Conferences & podcasts</h1>
    <p>I enjoy sharing what I've learned about web performance and sustainability. Below are some of the events I'll be at in the near future, as well as previous events I've spoken at or podcasts I've been on.</p>
  </section>

  <section class="twocol">
    <h2>Upcoming events</h2>
    {% if talks.upcoming.size > 0 %}
      <ul>
        {% for item in talks.upcoming %}
          <li class="talk">
            <div class="title">
              <h3>{{ item.event }}</h3>
              <small>{{ item.date | date_to_string }}</small>
            </div>
            {% if title %}
              <p class="summary">Talk title: {{ item.title }}</p>
            {% else %}
              <p class="summary">{{ item.description }}</p>
            {% endif %}
            <div class="links">
              {% if item.url %}
                <a href="{{ item.url }}" class="banner outline">Event Website</a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No upcoming events.</p>
    {% endif %}
  </section>
  <section class="twocol">
    <h2>Past events & podcasts</h2>
    {% if talks.past.size > 0 %}
      <ul>
        {% for item in talks.past %}
          <li class="talk">
            <div class="title">
              <h3>{{ item.title }}</h3>
              <small>{{ item.date | date_to_string }} @ {{ item.event }}</small>
            </div>
            <div class="links">
              {% if item.slides %}
                <a href="{{ item.slides }}" class="banner outline">View slides</a>
              {% endif %}
              {% if item.video %}
                <a href="{{ item.video }}" class="banner outline">Watch online</a>
              {% endif %}
              {% if item.episode %}
                <a href="{{ item.episode }}" class="banner outline">Listen online</a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No past events.</p>
    {% endif %}
  </section>
</div>