{% assign offset = filmSection | minus: 1 | times: 8 %}

<section class="filmstrip">
{% for image in currentYearImages offset: offset limit: 8 %}
    <div class="image-content">
    <a href="{{ image.url }}" target="_blank" title="View {{ image.title }} at film.fershad.com">
        <img loading="lazy" src="{{ image.imageUrl }}" alt="{{ image.altText }}">
    </a>
    <div class="image-details">
        <small>{{ image.collection }} - {{ image.shortDate | date: "%B %Y" }} <br /> {{ image.camera }}<br />{{ image.film }}</small>
    </div>
    </div>
{% endfor %}
</section>
