{% capture pageTitle %}
    {{title}} - {{site.title}}
{% endcapture%}
{% if site.title == title %}
  {% assign pageTitle = title %}
{% endif %}

{% assign siteTitle = site.title %}

{% if metaTitle %}
  {% assign pageTitle = metaTitle %}
{% endif %}

{% unless description %}
  {% assign description = summary %}
{% endunless %}

{% if seo.canonical %}
  {% assign canonical = seo.canonical %}
{% endif %}

<title>{{ pageTitle }}</title>
<meta name="description" content="{{ description }}" />
{% if canonical.size > 0 %}
  <link rel="canonical" href="{{ canonical }}" />
{% else %}
  <link rel="canonical" href="{{ site.baseURL }}{{ page.url }}" />
{% endif %}
<meta name="theme-color" content="#1c7ed6">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.baseURL }}{{ page.url }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" name="image" content="https://browser-worker.fershad.workers.dev/?title={{ title | url_encode }}" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ site.baseURL }}{{ page.url }}" />
<meta property="twitter:title" content="{{ pageTitle }}" />
<meta property="twitter:description" content="{{ description }}" />
<meta property="twitter:image" content="https://browser-worker.fershad.workers.dev/?title={{ title | url_encode }}" />

<!-- Meta Tags Generated with https://metatags.io -->
