<section id="{{ sectionId }}">
    <div class="splitview">
        <div class="lead-box flow">
            <div>
                <h2>{{ sectionTitle }}</h2>
                <p>{{ sectionIntro }}</p>
                {{  sectionExtra }}
            </div>
        </div>
        {{ sectionContent }}
    </div>
</section>
